/* override template.css from gollum */
.markdown-body {
  width: 56em !important;
  background-color: white;
}

body {
  background-color: #EBEBEB !important;
  /* match bootstrap font-size and family */
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* override gollum's hr style which uses dirty-shade.png */
.markdown-body hr {
  background: inherit !important;
  border-bottom: 0.4em solid #eee !important;
}